@tailwind base;

@tailwind components;

@tailwind utilities;

.topic {
  @apply text-base text-fuchsia-500 tracking-wider font-semibold;
}

.container {
  @apply flex flex-col justify-center items-center p-2;
}
.survey-container {
  @apply flex flex-col justify-start items-start p-1;
}

.logo {
  @apply w-24 h-24;
}

.heading {
  @apply font-bold my-2;
}

.input {
  @apply border border-gray-600 rounded-md  p-1 ;
}

.label {
  @apply p-2;
}
.btn {
  @apply bg-red-400 text-white focus:outline-none px-6 py-1 mt-2 ml-96;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.p{
  font-size: 16px;
}
.h1{
  font-size: 32px;
}